---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Many Many Things</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ultra&display=swap");

      :root {
        font-size: 15px;
      }
    </style>
  </head>
  <body
    class="bg-[#006B41] min-h-screen flex items-center justify-center text-white font-medium py-5rem">
    <div class="max-w-300px">
      <div class="size-4rem bg-green-900 rounded-2xl"></div>
      <h1 class="text-white text-2xl" style="font-family: 'Ultra', serif;">
        many many things
      </h1>
      <p class="opacity-80">
        Pragmatic planner for people doing a lot of things. Many Many Things is
        designed to help you handle one day at a time while staying motivated by
        how far you've come.
      </p>

      <div class="mt-8">
        <div class="rounded-t-xl bg-yellow-500 aspect-video"></div>
      </div>
      <div class="flex gap-2 bg-green-900 rounded-b-xl">
        <div class="px-2 py-2">
          <div class="font-bold leading-tight">♜ Backlog</div>
          <div class="text-xs opacity-60">
            Keep your plans here — sometimes under a project so you don't
            forget.
          </div>
        </div>
      </div>

      <div class="mt-8">
        <a
          class="flex p-2 bg-green-900 rounded-xl gap-2 items-center"
          href="/download">
          <div class="text-4xl"></div>

          <div>
            <div class="leading-none">Install for Mac</div>
            <div class="text-sm opacity-70">
              Universal. <span
                class="font-mono text-xs bg-emerald-600/30 px-2 rounded-lg"
                >Version 2026.1a</span
              >
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
